body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url("https://images.pexels.com/photos/1329296/pexels-photo-1329296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    font-family: cursive;
    flex-direction: column;



}
.form{
    background-color: #3c374e75;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: 10px;
    


}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px green;
    color: green;



}

.input::placeholder{
    color: lightgray;
    font-family: cursive;

}

.btn{
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    cursor: pointer;
}
.btn.hover {
    filter: brightness(0.9);
}
.score{
    color: rgb(126, 130, 33);
    text-align: right;
}
.game{
    color: rgb(184, 137, 51);
}
#question{
    color: white;
}