body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: #7474BF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  
background: linear-gradient(to right, #348AC7, #7474BF); 

}

.btn{
    background-color: #7274bf;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;

}

.btn span{
    position: relative;
    z-index: 1;
}

.btn::before{
    content: "";
    position: absolute;
    background-color: #3d86c5;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;

}

.btn:hover::before{
    width: 300px;
    height: 300px;
}